@import "tailwindcss";


*{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
.wrapper{
  background: #0d1224;
  background-image: url("/hero.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  /* overflow: hidden; */
  height: 100%;
}

.header a{
  padding: 5px 3px;
  
}

.active{
  border-bottom: 3px solid #3f54a0;
  color: #869ffb;
  border-radius: 5px;
}

.name-heading{
  animation: typing 10s infinite forwards;
  overflow: hidden;
  white-space: nowrap;
}


@keyframes typing {
  0%{
    width:0ch;
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  40%{
    width: 19ch;
  }
  80%{
    width: 19ch;
    opacity: 1;
  }
  100%{
    width: 0ch;
    opacity: 0;
  }
}

.code-editor{
  font-family: "Nata Sans";
  background-image: url('./blur-23.svg');
  background-size: cover;
}

@media (max-width:500px) {
  .header{
    height: 50px;
    font-size: 18px;
    padding: 10px;
    background: #0d1224;
  }
  .header .left{
    display: none;
  }
  .header .right{
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
  }
  .home{
    flex-direction: column;
    padding: 0px 15px;
    padding-bottom: 100px;
  }
  .home .left{
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .home h1{
    font-size: 22px;
  }
  .home h2{
    font-size: 20px;
  }
  .home p{
    font-size: 18px;
    line-height: 28px;
  }
  .home .btn{
    display: none;
  }
  .home .quote{
    display: none;
  }
  .home .right{
    width: 100%;
    font-size: 14px;
    padding: 0;
  }
  .code-editor{
    padding: 10px;
  }
  
  .footer{
    height: 60px;
    padding-bottom: 10px;
  }
  .footer .left{
    display: none;
  }
  .footer .right{
    font-size: 20px;
    padding: 10px;
    gap: 10px;
  }
  .footer .right span{
    font-size: 18px;
  }

  /* About */
  .about{
    padding: 80px 10px;
  }
  .about .intro{
    flex-direction: column;
    gap: 50px;
    padding-bottom: 40px;
  }
  .about .contact{
    display: none;
  }
  .about .img-cont{
    display: none;
    height: 200px;
    width: 200px;
  }
  .about img{
    height: 300px;
    padding: 0;
    margin: 0;
  }
  .exp{
    display: none;
  }
  .about h2{
    font-size: 22px;
  }
  .about .desc{
    padding-block: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
  }

  .skills{
    padding: 30px 10px;
  }
  .skills .skill,.skill-rev{
    flex-direction: column;
    gap: 10px;
  }
  .skill-rev{
    flex-direction: column-reverse;
  }
  .skill h2,.skill-rev h2{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .skill .intro,.skill-rev .intro{
    font-size: 16px;
    width: 100%;
  }
  .skills img{
    height: 250px;
    margin: 0;
  }
  .skills .quote{
    font-size: 16px;
    padding-bottom: 30px;
  }


  .contact-cont{
    padding: 70px 10px;

  }
  .contact-cont .contact{
    flex-direction: column-reverse;
    gap: 0;
    padding:30px 0;
  }
  .contact-cont .contact form{
    width: 100%;
  }

  form label{
    font-size: 18px;
    margin-bottom: 10px;
  }
  form input,textarea{
    font-size: 16px;
    padding: 4px 8px;
    margin-bottom: 10px;
  }
  form button{
    margin-top: 10px;
  }

  .contact-cont .contact a{
    font-size: 20px;
    padding: 10px;
  }

  .icons-cont{
    gap: 10px;
  }
  .contact img{
    height: 250px;
    padding-bottom: 30px;
  }

}