@import "tailwindcss";
*{
  box-sizing: border-box;
  overflow-y: hidden;
}
.wrapper{
  background: #0d1224;
  background-image: url("../public/hero.svg");
  background-repeat: no-repeat;
  object-fit: cover;
}
.name-heading{
  animation: typing 10s infinite forwards;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0%{
    width:0ch;
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  40%{
    width: 19ch;
  }
  80%{
    width: 19ch;
    opacity: 1;
  }
  100%{
    width: 0ch;
    opacity: 0;
  }
}